*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color:#003b5c;
}
body{
	background-color:#fff; 
	justify-content:center;
	align-items:center;
	margin:0;
	padding:0; 
}

.top-upper-header{ 
	width:100%;
	height:15px;
	background-color:#003b5c;

}
.top-header-area{

	margin:0;
	background-color:#fff;
	width:100%;
	height:81px;
}
.boxik{
	width:100%;
	height:10px;
	background:#ECE9E6;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); 

}
.aua-logo{
	margin-left:160px;
	position:relative;
	
}
.aua-logo-img{
	position:relative;
	width:400px;
	height:81px;
}
.main-heading{
	background-image:url("../images/box1.png");
	background-repeat: no-repeat;
	background-size:100%;	 
	margin:auto;
	width:100%;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom:5px solid #003b5c;
}
.main-heading h1{
	text-align:center;
	font-family:Georgia, Times, serif;
	color:#00a3e0;
	letter-spacing:5px;
	font-size:30px;
}
.paragraphBox{
	width:fit-content; 
	height:fit-content;
	display:block;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:20px;
	margin-top:20px;
	background-color:rgba(255,255,255,0.5);
	border-radius:30%;
}
.main-heading p{
	margin-top:8px;
	font-size:15px;
	text-align:center;
	font-family:Georgia, Times, serif;
	color:#003b5c;
	font-stretch:ultra-expanded;
	line-height:20px;
	padding:10px;	
}

.centralbox {
	background-image:url("../images/tp3.png");
	background-repeat: no-repeat;
	background-size:100%;
	background-position:left;	 
	margin:auto;
	margin-top:0.5px;
	
}
.form-group {
	background-color:rgba(0,163,224, 0.6);
	font-family:Georgia, Times, serif;
	font-weight:bold;
	padding:10px 30px;

	margin-right:25%;
	margin-left:25%;
	background-position:center;
	border-left:5px solid #003b5c;
	border-right:5px solid #003b5c;

}

.centralbox label{
    width:fit-content; 
	border-radius:3px;
	background-color:#fff;
	padding:8px;
	display:block;
	text-align:left;
	font-family:Georgia, Times, serif;
	text-transform:uppercase;
	color:#003b5c;
	border:3px solid #003b5c;
	margin-bottom:5px;
}
 
.centralbox .checkboxDonations label {
	background-color:rgba(255,255,255,0.8);
	border-width:0;
	display: inline;
	line-height:30px;
}

.centralbox input[type="text"]{
	padding:6px;
	width:100%;
	border-radius:4px;
	border:3px solid #003b5c;

}
.centralbox input[type="submit"]{
	padding:8px 8px;
	width:25%;
	border-radius:9px;
	border:none;
	background:#003b5c;
    background-blend-mode:hue;
    color:white;
    margin-left:35%;
}
.centralbox input[type="email"]{
	padding:6px;
	width:100%;
	border-radius:4px;
	border:none;
	border:3px solid #003b5c;

}
.centralbox select{
	padding:6px 6px;
	margin:6px 6px;
	width:50%;
	border-radius:9px;
	border:none;
	background:#fff;
    background-blend-mode:hue;
    color:#003b5c;
    text-transform:uppercase;
    border:3px solid #003b5c;
}
.checkboxDonations{
    width:70%; 
	border-radius:3px;
	background-color:#fff;
	padding:8px;
	display:block;
	text-align:left;
	font-family:Georgia, Times, serif;
	text-transform:uppercase;
	color:#003b5c;
	border:3px solid #003b5c;
	margin-bottom:5px;
}
.checkboxDonations input[type="checkbox" i] {
	background-color:initial;
	cursor:default;
	appearance:checkbox;
	box-sizing: border-box;
	margin:3px 3px 3px 4px;
	padding:initial;
}
.aboutUs{
	width:100%; 
	display:block;
	background-image:url("../images/aboutus.png");	
	height:500px;
	position:absolute;
	background-size:100%;
	
  }
  .aboutUsP{
  	width:fit-content;
  	margin-top:8%;
    margin-left:50px;
  	background-color:#fff;
  	opacity:0.9;
  }
  .aboutUsP p{
  	margin-top:8px;
	font-size:15px;
	text-align:center;
	font-weight:bold;
	font-family:Georgia, Times, serif;
	color:#003b5c;
	line-height:20px;
	padding:10px;
	line-height:25px;
	word-spacing:2px;
  }

 #otherLocationBox {
 	display: none;
 }

 #other-delivery{
 	display:none;
 }
 
#OtherItemBox{
	display:none;
}

/*Admin Styles*/

li {
	color: #000;
	cursor: pointer;
}


.donationsContainer {
	display:block; ;
	margin: 20px;
}

#donationsList {
	position: relative;
	float: left;
	width: 400px;
}

#donationInfo {
	width: 45%;
	float: right;
}

.adminSection{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh; 
	background-color:#111;
	float: left;

}
.donationsList{
	margin:0;
	padding:0;
	box-shadow: 0 15px 40px rgba(0,0,0,1); 
}
.donationsList li{
	position:relative;
	list-style:none;
	font-size:25px;
	padding:15px;
	cursor:pointer;
	color:#fff;
	font-family:monospace;
	box-sizing:border-box;
	transition:0.5s;
	z-index:-0;
}
.donationsList li:hover{

	color:#111; 
}
.donationsList li:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#003b5c;
    z-index:-1;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom;
}
.donationsList li:hover:before{
	transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
}

.donationsList li:after{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#003b5c;
    z-index:-2;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom;
    filter: blur(40px);
}
.donationsList li:hover:after{
	transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
}


#donationInfo {
	display:inline;
	margin:0;
	padding:0;
	min-height:100vh; 
	background-color:black;
}
#donationInfo span{
	color:white;
	position:relative;
	list-style:none;
	font-size:25px;
	font-family:monospace;
	box-sizing:border-box;
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	padding-top:50px;
}

#fname_error {
	display: none;
}

 #lname_error {
	display: none;
}
 #email_error {
	display: none;
}
 #phone_error {
	display: none;
}

.error{
	color:#e63e62;
	font-size: 12px;
	margin-top:5px;
}

